@import url('https://fonts.googleapis.com/css2?family=Krub:wght@600&display=swap');

.grid img{
    box-sizing: padding-box;
}
body{
    background: url("5.jpg");
}

.card{
    display: grid;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    grid-template-columns: 2.5fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    transition: 0.3s;
    position: relative;
    /*left: 20%;*/
    font-size: 0.8vw;
    border-radius: 20px;
    border: 2px solid #000;
    background: rgba(141,175,114,0.8);
    margin-top: 30px;
    margin-bottom: 50px;
}
.grid{
    vertical-align: baseline;
    horiz-align: right;
}

.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*box-sizing: border-box;*/
    border-radius: 17px;
    box-shadow: -2px 0px 8px 2px #000;

    /*border: 1px solid #8f8f8f;*/
    /*border: 1px solid #000;*/
}

.text{
    font-family: 'Krub', sans-serif;
    /*padding: 30px;*/
    color: #eee;
    /*color: #e0e0e0;*/
    text-shadow: 1px 0.4px 1px #000;
    mix-blend-mode: hard-light;
    /*vertical-align: baseline;*/
    /*horiz-align: right;*/
    -webkit-text-stroke: 0.6px black;


    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
}
@media screen and (max-width: 800px) {
    .card{
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 100%;
        width: 80%;
        height: 100%;
        /*margin-right: 10%;*/
        box-align: center;
        border-bottom: 2px solid #000;
        box-sizing: border-box;


    }
    .grid{
        margin-left: 0px;
    }
    .text{
        min-height: 30vh;
        font-size: 3em;

        /*font-size: 10px;*/
        /*word-break: break-all;*/
    }
    .grid img{
        position: relative;
        min-height: 22vh;
        top:2px;
    }
}


.card p{
    font-size: 18px;
}



.main_word{
    font-size: 3em;
}

.transcr_word{
    font-size: 2em;
}

.correction{
    font-size: 1.5em;
}

.ex{
    font-size: 1.5em;
}